html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: $font-family-base;
  color: var(--gray-90);
  font-weight: map-get($fws, normal);
  line-height: $line-height-base;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
html {
  font-size: $font-size-root; // 10px = 1rem 설정
}
body {
  font-size: $font-size-base; // 1.7rem = 17px
  overflow-x: hidden;
}
*:focus {
  @include focus();
}
::-moz-selection {
  background: var(--secondary);
  color: var(--white);
}
::selection {
  background: $secondary;
  color: var(--white);
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select,
ul,
li,
span,
em,
label,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  font-family: inherit;
  line-height: $line-height-base;
  letter-spacing: inherit;
}
pre {
  font-family: inherit;
}
input,
textarea,
a,
button,
select,
span,
label,
:before,
:after {
  font: {
    size: inherit;
    weight: inherit;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: map-get($fws, bold);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
fieldset {
  border: 0;
}
fieldset {
  min-width: 100%;
}
img {
  max-width: 100%;
  vertical-align: top;
}
ul,
ol {
  list-style: none;
}
em,
address,
i {
  font-style: normal;
}
a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}
button,
input[type="submit"],
input[type="button"] {
  overflow: visible;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: button;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

label {
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="search"],
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

caption {
  position: static !important;
  margin: 0 !important;
}

table {
  table-layout: fixed;
  max-width: none;
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
}

[role="button"] {
  cursor: pointer;
}

.img img {
  min-width: 100%;
  max-width: 100%;
}
.img.bg-img {
  background-size: cover;
}

.blind,
hr,
.sr-only,
legend,
caption {
  @include sr-only;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

.al {
  text-align: left !important;
}
.ac {
  text-align: center !important;
}
.ar {
  text-align: right !important;
}

//responsive mobile
@include mobile {
  .pc-only {
    display: none !important;
  }
  .pc-only.read {
    @include sr-only;
  }
  .mob-line {
    display: block;
    line-height: inherit;
  }
}

@include mobileMore {
  .mob-only {
    display: none !important;
  }
  .mob-only.read {
    @include sr-only;
  }
  .pc-line {
    display: block;
    line-height: inherit;
  }
}
