/* 
 * name : Checkbox Css
 * date : 2024-01-03
 */

/* **** checkbox : switch type **** */
.form-switch {
  $size: lg;
  display: inline-flex;
  position: relative;
  label {
    display: inline-flex;
    font-size: var(--switch-fz-#{$size});
  }
  [type="checkbox"] {
    ~ i {
      display: inline-flex;
      align-items: center;
      &::before,
      &::after {
        display: inline-flex;
        content: "";
      }
      &::before {
        @include position($l: var(--switch-br-#{$size}));
        width: var(--switch-b-#{$size});
        height: var(--switch-b-#{$size});
        border-radius: var(--switch-rd-#{$size});
        background-color: var(--white);
        transition: all 0.3s;
      }
      &::after {
        width: var(--switch-w-#{$size});
        height: var(--switch-h-#{$size});
        border-radius: var(--switch-rd-#{$size});
        background-color: var(--secondary-20);
      }
    }
    ~ label {
      z-index: 1;
      $labelValue: var(--switch-w-#{$size});
      $pdValue: var(--switch-pd-#{$size});
      padding-left: calc($labelValue + $pdValue);
      margin-left: calc($labelValue * -1);
      font-size: var(--switch-fz-#{$size});
    }
    &:checked {
      ~ i {
        &::before {
          $posL: calc(var(--switch-w-#{$size}) - var(--switch-b-#{$size}) - var(--switch-br-#{$size}));
          @include position($l: $posL);
        }
        &::after {
          background-color: var(--primary);
        }
      }
    }
    &:disabled {
      ~ i {
        &::before {
          border-color: var(--gray-20);
          background-color: var(--gray-40);
        }
        &::after {
          background-color: var(--gray-20);
        }
      }
      ~ label {
        color: var(--gray-50);
        cursor: inherit;
      }
    }
    &:focus {
      ~ label {
        @include focus($offset: 0.4rem, $color: $primary);
      }
    }
  }
}

/* **** checkbox : chip type **** */
.form-chip {
  .checkbox {
    ~ .form-chip-outline {
      &::before {
        display: inline-flex;
        content: "";
      }
    }
    &:focus {
      ~ .form-chip-outline {
        @include focus(-0.4rem);
        border-radius: var(--chkChipOutline-rd-lg);
      }
    }
  }
  &.md {
    .checkbox {
      &:focus {
        ~ .form-chip-outline {
          border-radius: var(--chkChipOutline-rd-md);
        }
      }
    }
  }
  &.sm {
    .checkbox {
      &:focus {
        ~ .form-chip-outline {
          border-radius: var(--chkChipOutline-rd-sm);
        }
      }
    }
  }
}
