.krds-disclosure {
	.btn-conts-expand {
		height: 4rem;
		&::before {
			display: inline-flex;
			content: "";
			width: 2rem;
			height: 2rem;
			margin-right: var(--#{$prefix}spacer-1);			
			background-image: url(#{$url}/component/common/ico_arr_func_20.svg);
			background-size: contain;
			transition: $transition-base;
			transform: rotate(0);
			background-repeat: no-repeat;
			background-position: center;
		}
		&::after {
			display: none;
		}
	}
	.expand-wrap {
		max-height: 0;
		&::after { 
			display: none;
		}
		.expand-in {
			padding: var(--#{$prefix}spacer-6);
		}
	}
	&.active {
		.btn-conts-expand {
			&::before {
				transform: rotate(-90deg);
			}
		}
	}
}